$body-background-color: #ffffff;
$sidebar-color: #f5f8fc;
$search-background-color: #ffffff;
$table-background-color: #ffffff;
$code-background-color: #f6f8fa;
$link-color: #005ea8;
$btn-primary-color: #005ea8;
$base-button-color: #eef3f8;
$nav-child-link-color: #4b5f78;
